.navBar{
    background-color: orangered
}

.cardsLibro,
.cardDetail {
    align-items: center;
    justify-content: center;
}

.cardLibro {
    max-width: 100%;
    height: 33em;
    max-height: 100%;
}

.btnCart:hover{
    color:white;
    background-color: black;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
    text-shadow: 3px 5px black;
    padding-top: 4rem;
}

.divButtons{
    display: flex;
}


.btnFinalizar{
    background-color: green;
}

.resumen{
    font-size: x-large;
    font-weight: bold;
    color: orange;
    text-shadow: 1px 2px black;
}

.priceCart{
    color: rosybrown;
    text-shadow: 1px 1px black;
    font-size: large;
    font-weight: bold;
}


.icono{
    color: black;
}

.cantCarrito{
    color: black;
    font-size: large;
    
}

.cardLibro:hover{
    transform: scale(1.1);
}

.cardDetail {
    align-items: center;
    margin-top: 5rem;
    justify-content: center;
    display: flex;
    width: 100%;
}


.priceDetail {
    text-align: center;
    width: 30%;
    font-size: 20px;
    height: 30px;
    background-color: rgba(36, 35, 35, 0.904);
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

.contForm{
    margin-top: 5em;
}

.cartContainer{
    margin-top: 3%;
    margin-left: 26,5%;
}

.cardCart{
    margin: 1em;
    display: flex;
    max-width: 450px;
}

.btnVerProducto{
    background-color: orangered;
    color: black
    
}


.btnVerProducto:hover{
    color: black;
    background-color: orange;
}

@media screen and (max-width: 767px) {
    .card {

        height: 40em;

    }
}